@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?vjjoxm');
	src:url('fonts/icons.eot?vjjoxm#iefix') format('embedded-opentype'),
		url('fonts/icons.ttf?vjjoxm') format('truetype'),
		url('fonts/icons.woff?vjjoxm') format('woff'),
		url('fonts/icons.svg?vjjoxm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-right-quote:before {
	content: "\e905";
}
.icon-left-quote:before {
	content: "\e906";
}
.icon-level-up:before {
	content: "\e900";
}
.icon-chevron-right:before {
	content: "\e901";
}
.icon-chevron-left:before {
	content: "\e902";
}
.icon-chevron-down:before {
	content: "\e903";
}
.icon-chevron-up:before {
	content: "\e904";
}
